<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :fullname %>
        <%= form.text_field :fullname, class: "form-control", placeholder: "your full name" %>
    </div>

    <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control", placeholder: "your username" %>
    </div>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control", placeholder: "yourEmail@gmail.com" %>
        <p>The email will be used for password recovery</p>
    </div>
    
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "your password"  %>
    </div>
    
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "confirm your password"  %>
    </div>

    <div class="mb-3">
        <%= form.label :role %>
        <%= form.text_field :role, class: "form-control", placeholder: "your role being user or admin" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>

<% end %>